#content {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: rgb(24, 24, 24);
    border: 1px solid #bebebe;
    border-radius: 10px;
    padding: 30px;
    max-height: 80%;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(87, 87, 87);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    position: relative;
    padding: 20px 10px;
    border-bottom: 1px solid #bebebe;
}