{% extends "./base.j2" %}
{% block title %}{% endblock %}
{% block head %}
    {{super()}}
{% endblock head %}
{% block content %}
    <h1>Escolha uma pasta</h1>
    {% if path_components %}
        <div id="view-directory">
            <ul>
                {% for component in path_components.values() %}
                    <li>
                    {% if component.type == 'directory' %}
                        <i class="fa-solid fa-folder"></i>
                    {% else %}
                        <i class="fa-solid fa-file"></i>
                    {% endif %}
                        <a href="{{url_for('index.index_endpoint', subpath=component.uri)}}"
                            title="{{component.uri}}">{{component.name}}</a> 
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Esta pasta está vazia</p>
    {% endif %}
{% endblock content %}