{% extends "./base.j2" %}
{% block title %}Dashboard{% endblock title %}
{% block head %}
    
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock head %}
{% block content %}
    <h1>Table Overview</h1>
    <div id="container">
        <table>
            <thead>
                <tr>
                    {%for column in header %}
                        <td>{{column}}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for line in body %}
                    <tr>
                        {% for column in line %}
                            <td>{{column}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav id='pagination'>
        <ul>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </nav>
    <script>
        const paginationNav = document.querySelector('#pagination')
        const pagElements = paginationNav.querySelectorAll('li')
        if (pagElements) {
            pagElements.forEach(el => {
            el.addEventListener('click', (event) => {
                    event.preventDefault()
                    pagElements.forEach(el => el.classList.remove('active'))
                    el.classList.add('active')
                })
            })
        }
        
    </script>
{% endblock content %}  