{% extends "./base.j2" %}
{% block title %}Dashboard{% endblock title %}
{% block head %}
    
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}"/>
    <style>
        .cell-overflowed {
            background-color: rgb(255, 0, 0);
        }
    </style>
{% endblock head %}
{% block content %}
    <h1>Table Overview</h1>
    <div id="container">
        <table class="table-overview">
            <thead>
                <tr>
                    {%for column in header %}
                        <td>{{column}}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for line in body %}
                    <tr>
                        {% for column in line %}
                            <td>
                                {# o span isola a lógica de truncamento assim td cuida apenas e exibir o conteúdo, não limitando pseudo-elementos como bofore ou after #}
                                <span class="cell-truncate">{{column}}</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav id='pagination'>
        <ul>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </nav>
    <script>
        //Cria a lógica de paginação de forma visual
        const paginationNav = document.querySelector('#pagination');
        const pagElements = paginationNav.querySelectorAll('li');
        if (pagElements) {
            pagElements.forEach(el => {
            //adiciona um evento de clique para cada elemento paginável
            el.addEventListener('click', (event) => {
                    event.preventDefault();
                    //Limpa todas os outros elementos ativos
                    pagElements.forEach(el => el.classList.remove('active'));
                    //Adiciona a classe ativo para o elemento atual
                    el.classList.add('active');
                })
            })
        }

        //pegar a tabela de visualização
        const tableOverview = document.querySelector('.table-overview');
        if (tableOverview) {
            tableOverview.querySelectorAll('tbody td').forEach(cell => {
                const truncatedContent = cell.querySelector('.cell-truncate');
                if (truncatedContent && truncatedContent.clientWidth < truncatedContent.scrollWidth) {
                    const fulltext = truncatedContent.textContent.trim();
                    cell.setAttribute('data-tooltip', fulltext);
                    cell.classList.add('has-custom-tooltip');
                    console.log(`célula que possui valor truncado: ${cell}`)
                }
            });
        }
        
    </script>
{% endblock content %}  