{% extends "./base.j2" %}
{% block title %}{% endblock %}
{% block head %}
    {{super()}}
{% endblock head %}
{% block content %}
    <h1>Escolha uma pasta</h1>
    {% if base_endpoints %}
        <ul>
            {% for name, endpoint in base_endpoints.items() %}
                <li><a href="{{ url_for(endpoint) }} ">{{name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nada para mostrar </p>
    {% endif %}
{% endblock content %}